
body { 
    font-family: Arial, sans-serif; 
}

/* header */
.header {
    width: 100%;
    display: flex;
    gap: 20px;
    background-color: #f5f6f7;
    align-items: center;
    padding: 20px 0px;
    height: 80px;
    position: absolute;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.header a {
    padding-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 24px;
}
.text-center {
    flex-grow: 1;
    text-align: center;
}

/* chat */
.container {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}

#connections { 
    width: 20%;
}

#connections div {
    cursor: pointer; 
    padding: 10px; 
}

.user-item {
    border: 1px solid #ddd;
    width: 95%;
}

#userList {
    margin: 0;
    padding: 10px 0px !important;
}

#searchUser {
    width: 96%;
    padding: 7px;
}

#chat-header { 
    font-weight: bold; 
    margin-bottom: 5px; 
    padding: 20px 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#chat-box { 
    display: none;
    border: 1px solid #ddd; 
    width: 78%;
}

#messages div { 
    padding: 5px; 
    margin: 5px 10px; 
}

#messages {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 62vh;
    width: 100%;
    scrollbar-width: none;
}
 
#messages::-webkit-scrollbar {
    display: none; 
}

.message {
    padding: 8px;
    margin: 10px;
    font-size: 16px;
    max-width: 50%;
    min-width: 35%;
}

.sent {
    background: linear-gradient(to right, #8EC5FC, #5182ED) !important;  
    align-self: flex-end;
    border-radius: 7px 0px 7px 7px;
    position: relative;
}

.sent::after {
    content: "";
    position: absolute;
    right: -7px;
    top: 0;
    width: 12px;
    height: 12px;
    background-color: #5182ED;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

.received {
    background-color: #e5e5e5 !important;
    align-self: flex-start;
    border-radius: 0px 7px 7px 7px;
    position: relative;
}

.received::after {
    content: "";
    position: absolute;
    left: -7px;
    top: 0;
    width: 12px;
    height: 12px;
    background-color: #e5e5e5;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}

/* Input Section */
#messageInput {
    width: 88%;
    padding: 10px;
    margin: 2px;
    border: 3px solid #f5f6f7;
    outline: none;
}
#messageInput:focus {
    border: 3px solid #5182ED;
}
.send-button {
    padding: 12.5px;
    margin: 2px;
    margin-top: 5px;
    width: 8%;
    border: none;
    color: white;
    background-color: #5182ED;
}
.fa-paper-plane:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.4);
    cursor: pointer;
}

/* message */
.msg-status {
    font-size: 12px;
    margin-left: 6px;
    color: gray;
}

.blue-checks {
    color: green;
}

/* Delete and edit messagees */
.message-options {
    position: absolute;
    background: white;
    margin: 40px 0px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none; 
}
/*  */
.message-options button {
    margin: 2px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    width: 100%;
    text-align: left;
    margin: 5px 0px;
    background: #f0f0f0;
    border-radius: 3px;
}

.menu-btn {
    gap: 10px;
    /* width: max-content; */
    display: flex;
    justify-content: space-between;
}

.message-options button:hover {
    background: #ddd;
}


/* Media Queries */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    #connections {
        width: 100%;
    }
    #chat-box {
        width: 100%;
    }
    .message {
        max-width: 75%;
        min-width: 50%;
    }
}