body {
    display: flex;
    background-color: rgb(81, 130, 237);
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.bg-img {
    position: absolute;
    width: 80%;
    height: 90%;
    margin-top: 8%;
    margin-left: -55%;
    background-image: url('/public/assets/bg.png');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1; 
}

.container {
    display: flex;
    flex-direction: row; /* Keep side-by-side layout */
    justify-content: space-between;
    align-items: center;
    width: 950px;
    margin-top: 50px;
    height: auto;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
#form-title {
    margin: 4px 10px;
    padding: 0px;
}

.left-panel {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form {
    width: 350px;
    padding: 20px;
    background: white;
    margin-top: 0px;
    /* border-radius: 10px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

button {
    background-color: #a00024;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.submit {
    background-color: green;
    /* align-items: center; */
    margin-top: 10px;
    width: 120%;
}

/* .input-group {
    display: flex;
    flex-direction: column;
} */

.login-form label {
    /* font-weight: bold; */

    margin: 0px;
    /* padding: 20px; */
}

.login-form input {
    width: 113%;
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.right-panel {
    width: 50%;
    display: flex;
    align-items: right;
    justify-content: right;
}

/* .right-panel img {
    width: 104.5%;
    height: auto;
} */
.right-panel img {
    max-width: 132.2%;
    height: auto;   
    padding: 0px;
    margin-right: -10px;
    margin-top: -10px;
    margin-bottom: -10px; 
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.social-buttons div {
    width: 40px;
    height: auto;
    cursor: pointer;
}

.button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#toggle-text , #orlog {
    text-align: center;
}

.password-container {
    width: 120%;
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    width: 100%;
    padding: 10px 0px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#togglePassword {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.orlog {
    padding: 0px;
    margin-left: -30px;
    margin: 0px;
}